{% extends "base.html" %}
{% block head_ctnt %}
<link
    href="https://cdn.pydata.org/bokeh/release/bokeh-0.12.6.min.css"
    rel="stylesheet" type="text/css">
<link
    href="https://cdn.pydata.org/bokeh/release/bokeh-widgets-0.12.6.min.css"
    rel="stylesheet" type="text/css">
<script src="https://cdn.pydata.org/bokeh/release/bokeh-0.12.6.min.js"></script>
<script src="https://cdn.pydata.org/bokeh/release/bokeh-widgets-0.12.6.min.js"></script>
  {{ script|safe }}
{% endblock %}

{% block main_ctnt %}

<!-- Biomarkers panel -->
<div class="panel panel-primary">
  <div class="panel-heading">
    <h3 class="panel-title">BIOMARKERS</h3>
    <button type="button" class="panel-toggle pull-right" data-toggle="collapse" data-target="#pan_biomarkers">
  </div>
  <div id="pan_biomarkers" class="container panel-body panel-collapse collapse in">

    <div class="row">
      <div class="col-sm-6">

    {{ plot_blood_div|safe }}
  </div>
  <div class="col-sm-6">
        <div class="row"> {{ plot_rhr_div|safe }}</div>
        <div class="row">{{ plot_osq_div|safe }}</div>
  </div>
  </div>
  </div>
</div>

<!-- Body Composition panel -->
<div class="panel panel-primary">
  <div class="panel-heading">
    <h3 class="panel-title">BODY COMPOSITION</h3>
    <button type="button" class="panel-toggle pull-right" data-toggle="collapse" data-target="#pan_body_comp">
  </div>
  <div id="pan_body_comp" class="panel-body panel-collapse collapse in">
    {{ plot_body_comp_div|safe }}

  </div>
</div>

<!-- Sleep panel -->
<div class="panel panel-primary">
  <div class="panel-heading">
    <h3 class="panel-title">SLEEP</h3>
    <button type="button" class="panel-toggle pull-right" data-toggle="collapse" data-target="#pan_sleep">
  </div>
  <div id="pan_sleep" class="panel-body panel-collapse collapse in">
    {{ plot_sleep_div|safe }}
  </div>
</div>
{% endblock %}


{% block info_bar_ctnt %}
  <div class="panel panel-primary">
    <div class="panel-heading">
      <h3 class="panel-title">CONTROL</h3></div>
  <div class="panel-body">
      {{ ma_slider_div|safe }}
    </div>
  </div>
    <div class="panel panel-primary">
      <div class="panel-heading">
        <h3 class="panel-title">INFORMATION (Sleep/BioMarkers)</h3></div>
    <div class="panel-body">
      <ul class="list-group">
        <li class="list-group-item list-group-item-info text-nowrap"><b>Days:</b> {{ div_days|safe }}</li>
        <li class="list-group-item text-nowrap"><b>Avg. Glucose (mg/dl):</b> {{ div_avg_bg|safe }}</li>
        <li class="list-group-item text-nowrap"><b>Avg. Morning RHR (bpm):</b> {{ div_avg_rhr|safe }}</li>
        <li class="list-group-item text-nowrap"><b>Avg. Morning HRV:</b> {{ div_avg_rhr|safe }}</li> <!--***TODO*** Incorporate HRV-->
        <li class="list-group-item text-nowrap"><b>Avg. Sleep Duration (hr):</b> {{ div_avg_slp_dur|safe }}</li>
        <li class="list-group-item text-nowrap"><b>Avg. Sleep Quality:</b> {{ div_avg_slp_q|safe }}</li>
      </ul>
      </div>

    </div>

    <div class="panel panel-primary">
      <div class="panel-heading">
        <h3 class="panel-title">INFORMATION (Body Comp)</h3></div>
    <div class="panel-body">
      <ul class="list-group">
        <li class="list-group-item list-group-item-info text-nowrap"><b>Days:</b> {{ div_days_bc|safe }}</li>
        <li class="list-group-item text-nowrap"><b>Avg. Weight (lbs):</b> {{ div_avg_wt|safe }}</li>
        <li class="list-group-item text-nowrap"><b>Avg. Bodyfat %:</b> {{ div_avg_bf|safe }}</li>
      </ul>
      </div>

    </div>

{% endblock %}
