{% extends "base.html" %}
{% block head_ctnt %}
<link
    href="https://cdn.pydata.org/bokeh/release/bokeh-0.12.6.min.css"
    rel="stylesheet" type="text/css">
<link
    href="https://cdn.pydata.org/bokeh/release/bokeh-widgets-0.12.6.min.css"
    rel="stylesheet" type="text/css">
<script src="https://cdn.pydata.org/bokeh/release/bokeh-0.12.6.min.js"></script>
<script src="https://cdn.pydata.org/bokeh/release/bokeh-widgets-0.12.6.min.js"></script>
  {{ script|safe }}
{% endblock %}

{% block main_ctnt %}
<!-- Timeseries panel -->
<div class="panel panel-primary">
  <div class="panel-heading">
    <h3 class="panel-title">TIME SERIES</h3>
    <button type="button" class="panel-toggle pull-right" data-toggle="collapse" data-target="#pan_time_series">
  </div>
  <div id="pan_time_series" class="panel-body panel-collapse collapse in">
    {{ plot_ts_div|safe }}
  </div>
</div>

<!-- Visual Representation panel -->
<div class="panel panel-primary">
  <div class="panel-heading">
    <h3 class="panel-title">VISUAL REPRESENTATION</h3>
    <button type="button" class="panel-toggle pull-right" data-toggle="collapse" data-target="#pan_vr">
  </div>
  <div id="pan_vr" class="panel-body panel-collapse collapse in">
    {{ plot_vr_div|safe }}
  </div>
</div>
{% endblock %}

{% block info_bar_ctnt %}
  <div class="panel panel-primary">
    <div class="panel-heading">
      <h3 class="panel-title">CONTROL</h3></div>
  <div class="panel-body">
      {{ ma_slider_div|safe }}
    </div>
  </div>
    <div class="panel panel-primary">
      <div class="panel-heading">
        <h3 class="panel-title">INFORMATION</h3></div>
    <div class="panel-body">
      <ul class="list-group">
        <li class="list-group-item list-group-item-info text-nowrap"><b>Days:</b> {{ div_days|safe }}</li>
        <li class="list-group-item text-nowrap"><b>Average A:</b>{{ div_avg_a|safe }}</li>
        <li class="list-group-item text-nowrap"><b>Average V:</b> {{ div_avg_v|safe }}</li>
        <li class="list-group-item text-nowrap"><b>Good Days:</b>{{ div_good_days|safe }}</li>
        <li class="list-group-item text-nowrap"><b>Poor Days:</b>{{ div_poor_days|safe }}</li>
        <li class="list-group-item text-nowrap list-group-item-warning"><b>Caution Days:</b>{{ div_caution_days|safe }}</li>
        <li class="list-group-item text-nowrap list-group-item-danger"><b>Warning Days:</b>{{ div_warning_days|safe }}</li>
      </ul>


      </div>
      </div>
{% endblock %}
