{% extends "base.html" %}
{% block head_ctnt %}
<link
    href="https://cdn.pydata.org/bokeh/release/bokeh-0.12.6.min.css"
    rel="stylesheet" type="text/css">
<link
    href="https://cdn.pydata.org/bokeh/release/bokeh-widgets-0.12.6.min.css"
    rel="stylesheet" type="text/css">
<script src="https://cdn.pydata.org/bokeh/release/bokeh-0.12.6.min.js"></script>
<script src="https://cdn.pydata.org/bokeh/release/bokeh-widgets-0.12.6.min.js"></script>
  {{ script|safe }}
{% endblock %}

{% block main_ctnt %}

    <h1>Mood</h1>

    <h1>Mood</h1>
  {{ div|safe }}


{% endblock %}

{% block info_bar_ctnt %}
    <h3>INFORMATION</h3>
{% endblock %}
