{% extends "base.html" %}
{% block head_ctnt %}
<link
    href="https://cdn.pydata.org/bokeh/release/bokeh-0.12.6.min.css"
    rel="stylesheet" type="text/css">
<link
    href="https://cdn.pydata.org/bokeh/release/bokeh-widgets-0.12.6.min.css"
    rel="stylesheet" type="text/css">
<script src="https://cdn.pydata.org/bokeh/release/bokeh-0.12.6.min.js"></script>
<script src="https://cdn.pydata.org/bokeh/release/bokeh-widgets-0.12.6.min.js"></script>
  {{ script|safe }}
{% endblock %}

{% block main_ctnt %}
<!-- Graph Panel -->
<div class="panel panel-primary">
  <div class="panel-heading">
    <h3 class="panel-title">MAXES</h3>
    <button type="button" class="panel-toggle pull-right" data-toggle="collapse" data-target="#pan_max">
  </div>
  <div id="pan_max" class="panel-body panel-collapse collapse in">
    {{ plot_max_div|safe }}
  </div>
</div>

<div class="panel panel-primary">
  <div class="panel-heading">
    <h3 class="panel-title">Max Volume Per Set</h3>
    <button type="button" class="panel-toggle pull-right" data-toggle="collapse" data-target="#pan_mvps">
  </div>
  <div id="pan_mvps" class="panel-body panel-collapse collapse in">
    {{ plot_mvps_div|safe }}
  </div>
</div>

<div class="panel panel-primary">
  <div class="panel-heading">
    <h3 class="panel-title">Total Volume</h3>
    <button type="button" class="panel-toggle pull-right" data-toggle="collapse" data-target="#pan_tv">
  </div>
  <div id="pan_tv" class="panel-body panel-collapse collapse in">
    {{ plot_tv_div|safe }}
  </div>
</div>
{% endblock %}

{% block info_bar_ctnt %}
  <div class="panel panel-primary">
    <div class="panel-heading">
      <h3 class="panel-title">SELECT LIFT</h3></div>
  <div class="panel-body">
      
    </div>
  </div>
    <div class="panel panel-primary">
      <div class="panel-heading">
        <h3 class="panel-title">INFORMATION</h3></div>
    <div class="panel-body">
      <ul class="list-group">
        <li class="list-group-item list-group-item-info text-nowrap"><b>MAX:</b> {{ div_max|safe }}</li>
        <li class="list-group-item list-group-item-info text-nowrap"><b>Max Vol/Set:</b> {{ div_max_vol_per_set|safe }}</li>
        <li class="list-group-item list-group-item-info text-nowrap"><b>Total Volume</b> {{ div_total_vol|safe }}</li>
      </ul>

      </div>
    </div>

{% endblock %}
