{% extends "base.html" %}
{% block head_ctnt %}
<link
    href="https://cdn.pydata.org/bokeh/release/bokeh-0.12.6.min.css"
    rel="stylesheet" type="text/css">
<link
    href="https://cdn.pydata.org/bokeh/release/bokeh-widgets-0.12.6.min.css"
    rel="stylesheet" type="text/css">

<script src="https://cdn.pydata.org/bokeh/release/bokeh-0.12.6.min.js"></script>
<script src="https://cdn.pydata.org/bokeh/release/bokeh-widgets-0.12.6.min.js"></script>

  {{ script|safe }}
{% endblock %}

{% block main_ctnt %}
<!-- Graph Panel -->
<div class="panel panel-primary">
  <div class="panel-heading">
    <h3 class="panel-title">MAXES</h3>
    <button type="button" class="panel-toggle pull-right" data-toggle="collapse" data-target="#pan_max">
  </div>
  <div id="pan_max" class="panel-body panel-collapse collapse in">
    {{ plot_max_div|safe }}
  </div>
</div>

<div class="panel panel-primary">
  <div class="panel-heading">
    <h3 class="panel-title">Max Volume Per Set</h3>
    <button type="button" class="panel-toggle pull-right" data-toggle="collapse" data-target="#pan_mvps">
  </div>
  <div id="pan_mvps" class="panel-body panel-collapse collapse in">
    {{ plot_mvps_div|safe }}
  </div>
</div>

<div class="panel panel-primary">
  <div class="panel-heading">
    <h3 class="panel-title">Total Volume</h3>
    <button type="button" class="panel-toggle pull-right" data-toggle="collapse" data-target="#pan_tv">
  </div>
  <div id="pan_tv" class="panel-body panel-collapse collapse in">
    {{ plot_tv_div|safe }}
  </div>
</div>
{% endblock %}

{% block info_bar_ctnt %}
  <div class="panel panel-primary">
    <div class="panel-heading">
      <h3 class="panel-title">CONTROL</h3></div>
  <div class="panel-body">
      {{ ma_slider_div|safe }}
    </div>
  </div>
    <div class="panel panel-primary">
      <div class="panel-heading">
        <h3 class="panel-title">INFORMATION</h3></div>
        <!-- ***TODO: Fix Pagination of table -->
    <div class="panel-body">
        <table class="table table-bordered table-condensed table-striped">
    <thead>
      <tr>
        <th> </th>
        <th>Max MAX</th>
        <th>Max MVPS</th>
        <th>Total Vol.</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><b>Squat</b></td>
        <td>{{ div_squat_max|safe }}</td>
        <td>{{ div_squat_max_vol_per_set|safe }}</td>
        <td>{{ div_squat_total_vol|safe }}</td>
      </tr>
      <tr>
        <td><b>Deadlift</b></td>
        <td>{{ div_deadlift_max|safe }}</td>
        <td>{{ div_deadlift_max_vol_per_set|safe }}</td>
        <td>{{ div_deadlift_total_vol|safe }}</td>
      </tr>
      <tr>
        <td><b>Bench</b></td>
        <td>{{ div_bench_max|safe }}</td>
        <td>{{ div_bench_max_vol_per_set|safe }}</td>
        <td>{{ div_bench_total_vol|safe }}</td>
      </tr>
      <tr>
        <td><b>OHP</b></td>
        <td>{{ div_ohp_max|safe }}</td>
        <td>{{ div_ohp_max_vol_per_set|safe }}</td>
        <td>{{ div_ohp_total_vol|safe }}</td>
        </tr>
    </tbody>
  </table>
  
      <ul class="list-group">
        <li class="list-group-item list-group-item-info text-nowrap"><b>Workouts: </b>{{ div_workouts|safe }}</li>
        <li class="list-group-item list-group-item-info text-nowrap"><b>Stairs: </b>{{ div_stairs|safe }}</li>
      </ul>

      <ul class="list-group">
        <li class="list-group-item list-group-item-info text-nowrap"><b>Num. Oliver Hazard Perrys: </b>{{ div_num_ohp|safe }}</li>
      </ul>

       <ul class="list-group">
        <li class="list-group-item list-group-item-success text-nowrap"><b>Wilks: </b>{{ div_wilks|safe }}</li>
      </ul>
       
      </div>
    </div>

{% endblock %}
